#blue-bg {
	position: relative;
	height: 4rem;

	.poster {
		position: absolute;
		bottom: 1rem;
		height: 220px;
		border: 1px solid white;

		small {
			background-color: rgb(80, 188, 212);
			color: white;
			position: absolute;
			text-align: center;

			&.label-top {
				top: 0;
				left: 0;
			}

			&.label-bottom {
				width: 100%;
				bottom: 0;
				left: 0;
			}
		}
	}
}

#comic-info {
	.row {
		.col-left {
			width: 66%;

			h3 {
				color: black;
			}

			#shop-info {
				font-weight: 600;
				background-color: rgb(63, 205, 87);
				color: white;
				border-bottom: .5px solid black;

				span {
					display: inline-block;
				}

				span.lightgreen {
					color: rgb(181, 247, 193)
				}

				.col-4 {
					border-left: .5px solid black;
				}
			}

			p {
				color: rgb(126, 126, 126);
			}
		}

		.col-right {
			width: 30%;
			position: relative;

			h6 {
				position: absolute;
				bottom: 100%;
				right: 0;
				font-weight: 600;
				color: rgb(94, 93, 93);
			}
		}
	}
}