@import '~bootstrap/scss/bootstrap';
@import './partials/variables';

//generali
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: .85rem;
}

.debug {
	border: 1px solid red;
}

.font-mukta {
	font-family: 'Mukta', sans-serif;
}

.font-pt {
	font-family: 'PT Sans Narrow', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container-w60 {
	width: 60%;
	margin: 0 auto;
}

//header
header {
	#top-bar {
		background-color: $brand-primary;
	}

	a {
		color: rgb(46, 46, 46);
		font-weight: 600;
	}
}

//footer
footer {
	#main-footer {
		height: 310px;
		background-image: url('../../public/images/footer-bg.jpg');
		background-size: cover;

		small {
			color: $grey;
		}

		#lists {
			height: 85%;

			h5 {
				color: white;
				font-weight: 600;
			}

			li {
				line-height: 1rem;
			}

		}
	}
}