@import '~bootstrap/scss/bootstrap';
@import './partials/variables';

//generali
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: .85rem;
}

.font-mukta {
	font-family: 'Mukta', sans-serif;
}

.font-pt {
	font-family: 'PT Sans Narrow', sans-serif;
}

ul {
	list-style: none;

	li {
		border: 1px solid red;
	}
}

a {
	text-decoration: none;
}

.container-w60 {
	width: 60%;
	margin: 0 auto;
}

//header
header {
	#top-bar {
		background-color: $brand-primary;
	}

	a {
		color: rgb(46, 46, 46);
		font-weight: 600;
	}
}