@import '../partials/variables';

footer {
	#main-footer {
		height: 310px;
		background-image: url('../../public/images/footer-bg.jpg');
		background-size: cover;
		overflow: hidden;

		small {
			color: $grey;
		}

		#lists {
			height: 85%;

			li {
				line-height: 1rem;
			}
		}

		.col-5 {
			img {
				position: relative;
				width: 125%;
				bottom: 20%;
			}
		}
	}
}